body {
  @apply bg-color50;
  @apply bg-color100;
  @apply bg-color200;
  @apply bg-color300;
  @apply bg-color400;
  @apply bg-color500;
  @apply bg-color600;
  @apply bg-color700;
  @apply bg-color800;
  @apply bg-color900;
  @apply text-color50;
  @apply text-color100;
  @apply text-color200;
  @apply text-color300;
  @apply text-color400;
  @apply text-color500;
  @apply text-color600;
  @apply text-color700;
  @apply text-color800;
  @apply text-color900;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.theme-malibu {
  --color-50:  #f1fafe ;
  --color-100:  #e2f3fc ;
  --color-200:  #bee8f9 ;
  --color-300:  #68cdf2 ;
  --color-400:  #43c2ed ;
  --color-500:  #1babdc ;
  --color-600:  #0e89bb ;
  --color-700:  #0c6e98 ;
  --color-800:  #0e5d7e ;
  --color-900:  #124d68 ;
}

.theme-dark {
  --color-50:  #ffffff ;
  --color-100:  #efefef ;
  --color-200:  #dcdcdc ;
  --color-300:  #bdbdbd ;
  --color-400:  #989898 ;
  --color-500:  #7c7c7c ;
  --color-600:  #656565 ;
  --color-700:  #525252 ;
  --color-800:  #464646 ;
  --color-900:  #3d3d3d ;
}

.theme-cranberry {
  --color-50:  #fbf4f6 ;
  --color-100:  #f9eaef ;
  --color-200:  #f5d5df ;
  --color-300:  #eeb3c5 ;
  --color-400:  #e2849e ;
  --color-500:  #d45a79 ;
  --color-600:  #c2405b ;
  --color-700:  #a72f44 ;
  --color-800:  #8a2a3a ;
  --color-900:  #742734 ;
}

.theme-envy {
  --color-50:  #f5f8f6 ;
  --color-100:  #e0e7e4 ;
  --color-200:  #c0cfc7 ;
  --color-300:  #89a397 ;
  --color-400:  #738e83 ;
  --color-500:  #597368 ;
  --color-600:  #465b53 ;
  --color-700:  #3a4b45 ;
  --color-800:  #313e39 ;
  --color-900:  #2c3532 ;
}

.theme-azure-radiance {
  --color-50:  #edfcff ;
  --color-100:  #d6f6ff ;
  --color-200:  #b6f0ff ;
  --color-300:  #84eaff ;
  --color-400:  #4adbff ;
  --color-500:  #20c1ff ;
  --color-600:  #09a4ff ;
  --color-700:  #0284e6 ;
  --color-800:  #096fc4 ;
  --color-900:  #0e5e9a ;
}

.theme-turquoise-blue {
  --color-50:  #ebfef6 ;
  --color-100:  #cffce7 ;
  --color-200:  #a2f8d3 ;
  --color-300:  #5cedb9 ;
  --color-400:  #2bdca3 ;
  --color-500:  #06c38b ;
  --color-600:  #009f72 ;
  --color-700:  #007f5f ;
  --color-800:  #01644c ;
  --color-900:  #025240 ;
}

.theme-wisteria {
  --color-50:  #f3f1fc ;
  --color-100:  #eae6f9 ;
  --color-200:  #dad2f3 ;
  --color-300:  #c4b6eb ;
  --color-400:  #b098e1 ;
  --color-500:  #a27fd5 ;
  --color-600:  #9365c6 ;
  --color-700:  #8b62b4 ;
  --color-800:  #69468d ;
  --color-900:  #563e71 ;
}

.theme-casablanca {
  --color-50:  #fef7ec ;
  --color-100:  #fce7c9 ;
  --color-200:  #f9ce8e ;
  --color-300:  #f6a845 ;
  --color-400:  #f4932b ;
  --color-500:  #ee6f12 ;
  --color-600:  #d34e0c ;
  --color-700:  #af330e ;
  --color-800:  #8e2712 ;
  --color-900:  #752212 ;
}

.theme-hibiscus {
  --color-50:  #fcf3f8 ;
  --color-100:  #fbe8f2 ;
  --color-200:  #f9d1e7 ;
  --color-300:  #f5acd2 ;
  --color-400:  #ee78b3 ;
  --color-500:  #e54f95 ;
  --color-600:  #ca2b6d ;
  --color-700:  #b6205a ;
  --color-800:  #971d4a ;
  --color-900:  #7e1d41 ;
}

.theme-vin-rouge {
  --color-50:  #fbf4f8 ;
  --color-100:  #f7ecf2 ;
  --color-200:  #f1d9e6 ;
  --color-300:  #e7bad1 ;
  --color-400:  #d78fb3 ;
  --color-500:  #c76d96 ;
  --color-600:  #b25079 ;
  --color-700:  #903a5b ;
  --color-800:  #7f3551 ;
  --color-900:  #6b3046 ;
}

@layer base {
  :root {
    /* --color-50:  #f1fafe ;
    --color-100:  #e2f3fc ;
    --color-200:  #bee8f9 ;
    --color-300:  #68cdf2 ;
    --color-400:  #43c2ed ;
    --color-500:  #1babdc ;
    --color-600:  #0e89bb ;
    --color-700:  #0c6e98 ;
    --color-800:  "inherit";
    --color-900:  #2f373e ; */
  }
}


